@font-face {
  font-family: "Konnect";
  src: url("/fonts/Konnect-Regular.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Konnect";
  src: url("/fonts/Konnect-Light.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Konnect";
  src: url("/fonts/Konnect-SemiBold.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
  unicode-range: U+000-5FF;
}
